<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.codescape.debug.launchCodescape">
<stringAttribute key="CUSTOM_HD_FILE" value=""/>
<stringAttribute key="DebugType" value="embedded"/>
<booleanAttribute key="ExtendHSPMemory" value="true"/>
<booleanAttribute key="HARD_RESET" value="true"/>
<booleanAttribute key="IgnoreRange" value="true"/>
<stringAttribute key="IgnoredRanges" value="0x9FC00010-0x9FC00018 [the MALTA/SEAD board serial number is stored here]"/>
<intAttribute key="LoadOptions" value="3"/>
<booleanAttribute key="LoadSymsOtherDevices" value="false"/>
<booleanAttribute key="LoadUsingLMA" value="true"/>
<stringAttribute key="ON_CONNECT_SCRIPT" value=""/>
<stringAttribute key="ON_CONNECT_SCRIPT_ARGS" value="{probe-id}"/>
<stringAttribute key="POST_RESET_DELAY" value="2000"/>
<booleanAttribute key="VerifyElf" value="true"/>
<booleanAttribute key="alt.addresses" value="true"/>
<booleanAttribute key="automap.library.source" value="true"/>
<stringAttribute key="config.items" value=""/>
<stringAttribute key="device.0.core.name" value=""/>
<stringAttribute key="device.0.elf.file" value=""/>
<booleanAttribute key="device.0.hide" value="false"/>
<booleanAttribute key="device.0.is.configured" value="false"/>
<intAttribute key="device.0.load.type" value="0"/>
<stringAttribute key="device.0.name" value=""/>
<intAttribute key="device.0.run.state" value="0"/>
<stringAttribute key="device.0.target.id" value=""/>
<stringAttribute key="device.1.core.name" value=""/>
<stringAttribute key="device.1.elf.file" value=""/>
<booleanAttribute key="device.1.hide" value="false"/>
<booleanAttribute key="device.1.is.configured" value="false"/>
<intAttribute key="device.1.load.type" value="0"/>
<stringAttribute key="device.1.name" value=""/>
<intAttribute key="device.1.run.state" value="0"/>
<stringAttribute key="device.1.target.id" value=""/>
<stringAttribute key="device.10.core.name" value=""/>
<stringAttribute key="device.10.elf.file" value=""/>
<booleanAttribute key="device.10.hide" value="false"/>
<booleanAttribute key="device.10.is.configured" value="false"/>
<intAttribute key="device.10.load.type" value="0"/>
<stringAttribute key="device.10.name" value=""/>
<intAttribute key="device.10.run.state" value="0"/>
<stringAttribute key="device.10.target.id" value=""/>
<stringAttribute key="device.11.core.name" value=""/>
<stringAttribute key="device.11.elf.file" value=""/>
<booleanAttribute key="device.11.hide" value="false"/>
<booleanAttribute key="device.11.is.configured" value="false"/>
<intAttribute key="device.11.load.type" value="0"/>
<stringAttribute key="device.11.name" value=""/>
<intAttribute key="device.11.run.state" value="0"/>
<stringAttribute key="device.11.target.id" value=""/>
<stringAttribute key="device.2.core.name" value=""/>
<stringAttribute key="device.2.elf.file" value=""/>
<booleanAttribute key="device.2.hide" value="false"/>
<booleanAttribute key="device.2.is.configured" value="false"/>
<intAttribute key="device.2.load.type" value="0"/>
<stringAttribute key="device.2.name" value=""/>
<intAttribute key="device.2.run.state" value="0"/>
<stringAttribute key="device.2.target.id" value=""/>
<stringAttribute key="device.3.core.name" value=""/>
<stringAttribute key="device.3.elf.file" value=""/>
<booleanAttribute key="device.3.hide" value="false"/>
<booleanAttribute key="device.3.is.configured" value="false"/>
<intAttribute key="device.3.load.type" value="0"/>
<stringAttribute key="device.3.name" value=""/>
<intAttribute key="device.3.run.state" value="0"/>
<stringAttribute key="device.3.target.id" value=""/>
<stringAttribute key="device.4.core.name" value=""/>
<stringAttribute key="device.4.elf.file" value=""/>
<booleanAttribute key="device.4.hide" value="false"/>
<booleanAttribute key="device.4.is.configured" value="false"/>
<intAttribute key="device.4.load.type" value="0"/>
<stringAttribute key="device.4.name" value=""/>
<intAttribute key="device.4.run.state" value="0"/>
<stringAttribute key="device.4.target.id" value=""/>
<stringAttribute key="device.5.core.name" value=""/>
<stringAttribute key="device.5.elf.file" value=""/>
<booleanAttribute key="device.5.hide" value="false"/>
<booleanAttribute key="device.5.is.configured" value="false"/>
<intAttribute key="device.5.load.type" value="0"/>
<stringAttribute key="device.5.name" value=""/>
<intAttribute key="device.5.run.state" value="0"/>
<stringAttribute key="device.5.target.id" value=""/>
<stringAttribute key="device.6.core.name" value=""/>
<stringAttribute key="device.6.elf.file" value=""/>
<booleanAttribute key="device.6.hide" value="false"/>
<booleanAttribute key="device.6.is.configured" value="false"/>
<intAttribute key="device.6.load.type" value="0"/>
<stringAttribute key="device.6.name" value=""/>
<intAttribute key="device.6.run.state" value="0"/>
<stringAttribute key="device.6.target.id" value=""/>
<stringAttribute key="device.7.core.name" value=""/>
<stringAttribute key="device.7.elf.file" value=""/>
<booleanAttribute key="device.7.hide" value="false"/>
<booleanAttribute key="device.7.is.configured" value="false"/>
<intAttribute key="device.7.load.type" value="0"/>
<stringAttribute key="device.7.name" value=""/>
<intAttribute key="device.7.run.state" value="0"/>
<stringAttribute key="device.7.target.id" value=""/>
<stringAttribute key="device.8.core.name" value=""/>
<stringAttribute key="device.8.elf.file" value=""/>
<booleanAttribute key="device.8.hide" value="false"/>
<booleanAttribute key="device.8.is.configured" value="false"/>
<intAttribute key="device.8.load.type" value="0"/>
<stringAttribute key="device.8.name" value=""/>
<intAttribute key="device.8.run.state" value="0"/>
<stringAttribute key="device.8.target.id" value=""/>
<stringAttribute key="device.9.core.name" value=""/>
<stringAttribute key="device.9.elf.file" value=""/>
<booleanAttribute key="device.9.hide" value="false"/>
<booleanAttribute key="device.9.is.configured" value="false"/>
<intAttribute key="device.9.load.type" value="0"/>
<stringAttribute key="device.9.name" value=""/>
<intAttribute key="device.9.run.state" value="0"/>
<stringAttribute key="device.9.target.id" value=""/>
<intAttribute key="device.to.debug" value="0"/>
<booleanAttribute key="force.hw.single.step" value="false"/>
<booleanAttribute key="hide.all.other.devices" value="false"/>
<booleanAttribute key="hsp.file.auto" value="true"/>
<stringAttribute key="iasim.home" value=""/>
<booleanAttribute key="iasim.log.output.to.file" value="false"/>
<stringAttribute key="iasim.mdi.lib" value=""/>
<stringAttribute key="iasim.mdi.portnum" value=""/>
<stringAttribute key="iasim.other.instance" value=""/>
<stringAttribute key="iasim.output.log.filename" value="iasim.log"/>
<stringAttribute key="iasim.platform.args" value=""/>
<stringAttribute key="iasim.platform.exe" value=""/>
<booleanAttribute key="iasim.use.other.instance" value="false"/>
<booleanAttribute key="iasim.use.system.env" value="false"/>
<stringAttribute key="iasim.variant" value=""/>
<stringAttribute key="iasim.vlnv" value=""/>
<booleanAttribute key="init.registers" value="true"/>
<stringAttribute key="launch.metadata.version" value="324"/>
<intAttribute key="number.devices" value="0"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.codescape.debug.CSDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_SPECIFIC_ATTRS_MAP" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PLATFFORM" value="win32"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="ReadSwitches"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ReadSwitches"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.cdt.debug.core.sourceLocator"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;default/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="false"/>
<stringAttribute key="probe.id" value=""/>
<stringAttribute key="probe.name" value=""/>
<stringAttribute key="program.arg.option" value="no.args"/>
<stringAttribute key="program.args" value=""/>
<stringAttribute key="registers.to.init" value="a3=0, sp=0xffffffff"/>
<stringAttribute key="run.behavior" value="do.run.to"/>
<stringAttribute key="run.to.address" value="main"/>
<stringAttribute key="target.type" value="da.target.probe"/>
<stringAttribute key="working.dir" value=""/>
</launchConfiguration>
